<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header">
            <a class="navbar-brand" href="#">Ollink</a>
        </div>
		<p class="navbar-text pull-right">Copyright &copy; Q - 2017</p>
	</div>
</nav>
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/jquery-form-validator/jquery.form-validator.min.js"></script>
<script>
	$.validate({
		lang: 'fr',
		modules : 'security'
	});
</script>