<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Start Menu button for Mobile -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- End Menu button -->
            <a class="navbar-brand" href="/home"><img alt="Ollink" src="/public/img/logo-ollink.png" width="24px" height="24px"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        		<ul class="nav navbar-nav navbar-right">
                    <li><a href="/home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Accueil</a></li>
                    <li class="dropdown" id="user-navbar-element">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span id="user-email"></span>&nbsp;
                            <span class="caret"></span>
                        </a> 
                        <ul class="dropdown-menu">
                            <li><a href="/changePassword">Changer le mot de passe</a></li>
                        </ul>
                    </li>
          			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Déconnexion</a></li>
        		</ul>
      	</div>
    </div>
</nav>